<div class="jumbotron">
  <h1 class="text-xs-center">IOU</h1>
  <p class="lead">We make memes and take your money.</p>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary', role: 'button' %>
</div>
