<!DOCTYPE html>
<html>

    
    <head>
        
        <link rel="stylesheet" href="css/stylesheet.css">
        
    </head>

    <body>
        
        <img class="logo" src="images/ioublue.png"s>
 
        <h1 class="maintitle">THE BEST WAY TO SHARE EXPENSES BETWEEN FRIENDS.</h1>
        
        <div class="signup">
            <a href="Sign%20Up%20Page.html" class="btn_up btn_main red_btn main_btn">Sign Up</a>
        </div>
        
        <div class="signin">
            <a href="Sign%20Up%20In,html" class="btn_in btn_main orange_btn main_btn">Sign In</a>
        </div>
        
    </body>
    
    <footer>
    
      
    
    </footer>
    
</html>