html { 
  background-color: #f6f7d7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.main_btn {
    margin-bottom: 0px;
    font-size: 1em;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px
}

.btn:hover, .btn:active, .btn:visited, .btn:focus {
    color: #fff;
}

a.btn_main{
    padding-top: 8px;
}

.red_btn {
    background-color: #FF165D;
    box-shadow: 0px 5px 0px #000;
}

.orange_btn {
    background-color: #FF9A00;
    box-shadow: 0px 5px 0px #000;
}

.btn_main {
    font-family: 'HKGrotesk-Bold', sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 3px;
    width: 205px;
    height: 45px;
    color: #fff;
}

.btn_up {
    display: inline-block;
    padding: 6px 12px;
    line-height:1.42857143;
    text-align: center;
    white-space:    nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; 
    position:absolute;
    transition: .5s ease;
    top: 65%;
    left: 50%;
}

.btn_in {
    display: inline-block;
    padding: 6px 12px;
    line-height:1.42857143;
    text-align: center;
    white-space:    nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; 
    position:absolute;
    transition: .5s ease;
    top: 65%;
    left: 30%;

}

a {
    text-decoration:none;
}

.maintitle{
    font-family: 'HKGrotesk-Bold', sans-serif;
    display: block;
    width: 100%;
    color: black;
    width: 82%;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 42px;
    position:absolute;
    transition: .5s ease;
    top: 53%;
    left: 18%;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    top: 50%;
    margin-bottom: 200px;
    margin-top: 130px;
    width: 350px;
}

a:hover {
    transform: scale(1.1, 1.1);
}
